/* ==========================================================================
   #_BASE.CSS: RESET & GLOBAL STYLES
   ========================================================================== */
html {
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

body {
    /* Latar belakang global diperbarui dengan tema "Sunrise in Winter" */
    background: linear-gradient(180deg, #0b1026 0%, #2b32b2 40%, #ff9a9e 70%, #fecfef 100%);
    color: #fff; font-family: 'Poppins', sans-serif;
    margin: 0;
    height: 100%;
    min-height: 100%;
    overflow: hidden;
    overscroll-behavior-y: none;
    display: flex; justify-content: center; align-items: center;
}

.screen {
    width: 100%; max-width: 450px; height: 100%;
    background: rgba(0, 0, 0, 0.2); backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column; position: relative;
    box-shadow: 0 0 30px #000;
}

.hidden { display: none !important; }

/* Scrollbar Hidden */
*::-webkit-scrollbar {
    display: none;
}
* {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    -webkit-tap-highlight-color: transparent; 
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    user-select: none; 
}